<div class="menu list">
	<table class="menu" summary="Menu list">
		<tr>
			<td class="actions">
				<%= link_to("Home", {:action => 'home'}, :class => 'action home') %>
			    <%= link_to("Products", {:action => 'products'}, :class => 'action produse') %>
			    <%= link_to("Partners", {:action => 'partners'}, :class => 'action partneri')%>
				<%= link_to("Contact", { :controller => 'contact', :action => 'contact_page'}, 
                    :class => 'action contact')%>	   

			</td>
		</tr>
  
	</table>
</div></br>